<%- include('../layout/header.ejs') %>

<style>

.btn-gradient  {
            background-image: linear-gradient(to right, #44A08D 0%, #093637  51%, #44A08D  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-gradient:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
         
</style>

<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11 ">
        <!-- <div class="card text-black rounded"> -->
          <!-- <div class="card-body p-md-5 "> -->
            <div class="row justify-content-center ">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 p- shadow-lg  mb-5 bg-white rounded">

                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4 text-black rounded" action="/register" method="post">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label form-label-sm" for="form3Example1c">Your Name</label>
                      <input type="text" id="form3Example1c" class="form-control form-control-sm" name="name" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label form-label-sm" for="form3Example3c">Your Email</label>
                      <input type="email" id="form3Example3c" class="form-control form-control-sm" name="email" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-sharp fa-phone fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label form-label-sm" for="form3Example1c"> Mobile Number</label>
                      <input type="text" id="form3Example1c" class="form-control form-control-sm" name="mobile"/>
                    </div>
                  </div>

                  <!-- <div class=" align-items-center mb-4">
                    <label class="form-label form-label-sm" for="form3Example1c"> Enter Your Address</label>
                    <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-sharp fa-phone fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control form-control-sm" name="buildingName"/>
                    </div>
                    <div class="form-outline flex-fill mb-0">
                    <div class="form-outline flex-fill mb-0">
                     
                      <input type="text" id="form3Example1c" class="form-control form-control-sm"placeholder="12345" name="pinCode"/>
                    </div>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control form-control-sm" name="district"/>
                    </div>
                  </div>
                  </div>
                </div> -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label form-label-sm" for="form3Example4c">Password</label>
                      <input type="password" id="form3Example4c" class="form-control form-control-sm" name="password" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label form-label-sm" for="form3Example4cd">Repeat your password</label>
                      <input type="password" id="form3Example4cd" class="form-control form-control-sm" name="confirmPassword" />
                    </div>
                  </div>
                  
                  <div class="d-flex justify-content-center">
                   <button type="submit" class="btn btn-gradient btn-block btn-sm text-body font-weight-bold">Register</button>
                  </div>

                 
                  <p style="color: rgb(198, 4, 4); font-weight: bold;" class="text-center">
                    <%=(typeof message!=='undefined')?message:""%>
                  </p>
                  <p class="text-center small mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
                  <br>
               
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



